services:
  pihole:
    container_name: ${CONTAINER_PREFIX}pihole
    image: pihole/pihole:latest
    network_mode: host
    environment:
      TZ: "Europe/Bucharest"
      FTLCONF_webserver_api_password: ${PIHOLE_PASS}
      # Set the web interface port explicitly  
      FTLCONF_webserver_port: 8089
    volumes:
      # For persisting Pi-hole's databases and common configuration file
      - "${CONFIG_PATH}/etc-pihole:/etc/pihole"
      # Uncomment the below if you have custom dnsmasq config files that you want to persist. Not needed for most starting fresh with Pi-hole v6. If you're upgrading from v5 you and have used this directory before, you should keep it enabled for the first v6 container start to allow for a complete migration. It can be removed afterwards. Needs environment variable FTLCONF_misc_etc_dnsmasq_d: 'true'
      #- './etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      - NET_ADMIN
      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      - SYS_TIME
      # Optional, if Pi-hole should get some more processing time
      - SYS_NICE
    restart: ${RESTART_POLICY}
